USE [master]
GO
/****** Object:  Database [Coursere_DB]    Script Date: 7/19/2022 4:56:40 PM ******/
CREATE DATABASE [Coursere_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coursere_DB', FILENAME = N'E:\database Swp391\Coursere_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Coursere_DB_log', FILENAME = N'E:\database Swp391\Coursere_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coursere_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coursere_DB]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_name] [varchar](255) NULL,
	[blog_title] [text] NULL,
	[updated_date] [date] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [varchar](50) NOT NULL,
	[course_name] [varchar](50) NULL,
	[course_title] [varchar](255) NULL,
	[course_img] [text] NULL,
	[course_price] [money] NULL,
	[course_desc] [text] NULL,
	[course_start] [date] NULL,
	[course_stop] [date] NULL,
	[course_public] [date] NULL,
	[sub_id] [int] NULL,
	[lecturer_id] [int] NULL,
	[level_id] [int] NULL,
	[course_status] [bit] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[gender_id] [int] IDENTITY(1,1) NOT NULL,
	[gender_name] [varchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[lecturer_id] [int] IDENTITY(1,1) NOT NULL,
	[lecturer_name] [varchar](50) NULL,
 CONSTRAINT [PK_Lecturer] PRIMARY KEY CLUSTERED 
(
	[lecturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_name] [varchar](50) NULL,
	[lesson_video] [text] NULL,
	[course_id] [varchar](50) NULL,
	[section_id] [int] NULL,
	[type_id] [int] NULL,
	[lesson_desc] [text] NULL,
	[lesson_status] [bit] NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson_Result]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson_Result](
	[lesson_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[lesson_status] [bit] NULL,
 CONSTRAINT [PK_Lesson_Result] PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[level_id] [int] IDENTITY(1,1) NOT NULL,
	[level_name] [varchar](50) NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manage_Course]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manage_Course](
	[course_id] [varchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
	[feature] [varchar](50) NULL,
 CONSTRAINT [PK_Manage_Course] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[per_id] [int] IDENTITY(1,1) NOT NULL,
	[per_name] [varchar](255) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[per_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[post_img] [text] NULL,
	[post_title] [text] NULL,
	[post_desc] [text] NULL,
	[post_date] [date] NULL,
	[post_status] [bit] NULL,
	[blog_id] [int] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_Package]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_Package](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[package_name] [varchar](50) NULL,
	[duration] [int] NULL,
	[pack_status] [bit] NULL,
	[multiple] [float] NULL,
	[description] [varchar](300) NULL,
 CONSTRAINT [PK_Price_Package] PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ques_Result]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ques_Result](
	[ques_result_id] [int] IDENTITY(1,1) NOT NULL,
	[ques_id] [int] NULL,
	[user_id] [int] NULL,
	[ques_status] [bit] NULL,
	[ques_flag] [bit] NULL,
	[ques_answer] [int] NULL,
	[quiz_result_id] [int] NULL,
 CONSTRAINT [PK_Ques_Result] PRIMARY KEY CLUSTERED 
(
	[ques_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[ques_id] [int] IDENTITY(1,1) NOT NULL,
	[ques_content] [text] NULL,
	[ques_result] [int] NULL,
	[ques_note] [text] NULL,
	[quiz_id] [int] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[ques_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[quiz_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_name] [varchar](50) NULL,
	[quiz_desc] [text] NULL,
	[course_id] [varchar](50) NULL,
	[type_id] [int] NULL,
	[section_id] [int] NULL,
	[quiz_status] [bit] NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Result]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Result](
	[quiz_result_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NULL,
	[user_id] [int] NULL,
	[quiz_status] [bit] NULL,
	[quiz_grade] [float] NULL,
	[quiz_start] [datetime] NULL,
	[quiz_end] [datetime] NULL,
 CONSTRAINT [PK_Quiz_Result] PRIMARY KEY CLUSTERED 
(
	[quiz_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[reg_id] [int] IDENTITY(1,1) NOT NULL,
	[reg_time] [date] NULL,
	[reg_note] [text] NULL,
	[course_id] [varchar](50) NULL,
	[user_id] [int] NULL,
	[reg_status_id] [bit] NULL,
	[package_id] [int] NULL,
	[last_updated_by] [varchar](100) NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[reg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration_Status]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Status](
	[reg_status_id] [bit] NOT NULL,
	[reg_status_name] [varchar](50) NULL,
 CONSTRAINT [PK_Registration_Status] PRIMARY KEY CLUSTERED 
(
	[reg_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](255) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Permission]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Permission](
	[role_per_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[per_id] [int] NULL,
 CONSTRAINT [PK_Role_Permission] PRIMARY KEY CLUSTERED 
(
	[role_per_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[section_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [varchar](50) NOT NULL,
	[section_name] [varchar](255) NULL,
	[type_id] [int] NULL,
	[section_status] [bit] NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[section_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingTypeId] [int] NOT NULL,
	[SettingValue] [varchar](50) NOT NULL,
	[SettingOrder] [varchar](100) NOT NULL,
	[SettingStatusId] [int] NOT NULL,
	[SettingDescription] [text] NOT NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettingStatus]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingStatus](
	[SettingStatusId] [int] IDENTITY(1,1) NOT NULL,
	[SettingStatusName] [nchar](10) NULL,
 CONSTRAINT [PK_SettingStatus] PRIMARY KEY CLUSTERED 
(
	[SettingStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettingType]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingType](
	[SettingTypeId] [int] IDENTITY(1,1) NOT NULL,
	[SettingTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SettingType] PRIMARY KEY CLUSTERED 
(
	[SettingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[slider_id] [int] IDENTITY(1,1) NOT NULL,
	[slider_title] [varchar](max) NULL,
	[slider_img] [text] NULL,
	[slider_link] [varchar](max) NULL,
	[slider_status] [bit] NULL,
	[slider_note] [varchar](max) NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[slider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[sub_id] [int] IDENTITY(1,1) NOT NULL,
	[sub_name] [varchar](50) NULL,
	[sub_img] [text] NULL,
	[sub_desc] [text] NULL,
	[subject_cate_id] [int] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[sub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject_Category]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_Category](
	[subject_cate_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_cate_name] [varchar](255) NULL,
 CONSTRAINT [PK_Subject_Category] PRIMARY KEY CLUSTERED 
(
	[subject_cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Time_Course]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_Course](
	[time_course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [varchar](50) NULL,
	[user_id] [int] NOT NULL,
	[course_start] [datetime] NULL,
	[course_stop] [datetime] NULL,
 CONSTRAINT [PK_Time_Course] PRIMARY KEY CLUSTERED 
(
	[time_course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](50) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/19/2022 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](100) NOT NULL,
	[password] [varchar](255) NULL,
	[full_name] [varchar](50) NOT NULL,
	[user_img] [text] NULL,
	[gender_id] [int] NULL,
	[user_dob] [date] NULL,
	[user_phone] [varchar](50) NULL,
	[user_address] [varchar](50) NULL,
	[user_wallet] [varchar](50) NULL,
	[role_id] [int] NULL,
	[user_time] [date] NULL,
	[user_status] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([blog_id], [blog_name], [blog_title], [updated_date]) VALUES (1, N'Degrees', N'See how learners are advancing their education and careers with world-class degree programs on Coursere.', CAST(N'2020-05-30' AS Date))
INSERT [dbo].[Blog] ([blog_id], [blog_name], [blog_title], [updated_date]) VALUES (2, N'For Business', N'Discover how businesses are achieving their goals with job-based skill development programs on Coursere.', CAST(N'2020-05-30' AS Date))
INSERT [dbo].[Blog] ([blog_id], [blog_name], [blog_title], [updated_date]) VALUES (3, N'For Educators', N'Gain valuable insights and inspiration about teaching world-class courses online.', CAST(N'2020-05-30' AS Date))
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([gender_id], [gender_name]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([gender_id], [gender_name]) VALUES (2, N'Female')
INSERT [dbo].[Gender] ([gender_id], [gender_name]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturer] ON 

INSERT [dbo].[Lecturer] ([lecturer_id], [lecturer_name]) VALUES (1, N'Padma Manandhar')
INSERT [dbo].[Lecturer] ([lecturer_id], [lecturer_name]) VALUES (2, N'Ankur Aggarwal')
INSERT [dbo].[Lecturer] ([lecturer_id], [lecturer_name]) VALUES (3, N'Molly Stone')
SET IDENTITY_INSERT [dbo].[Lecturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
INSERT [dbo].[Lesson_Result] ([lesson_id], [user_id], [lesson_status]) VALUES (1, 10, 0)
INSERT [dbo].[Lesson_Result] ([lesson_id], [user_id], [lesson_status]) VALUES (1, 27, 1)
INSERT [dbo].[Lesson_Result] ([lesson_id], [user_id], [lesson_status]) VALUES (2, 10, 1)
GO
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([level_id], [level_name]) VALUES (1, N'Basic')
INSERT [dbo].[Level] ([level_id], [level_name]) VALUES (2, N'Intermediate')
INSERT [dbo].[Level] ([level_id], [level_name]) VALUES (3, N'Advanced')
SET IDENTITY_INSERT [dbo].[Level] OFF
GO
INSERT [dbo].[Manage_Course] ([course_id], [user_id], [feature]) VALUES (N'CP', 7, N'View only')
INSERT [dbo].[Manage_Course] ([course_id], [user_id], [feature]) VALUES (N'DIGMAR', 1, N'Edit')
INSERT [dbo].[Manage_Course] ([course_id], [user_id], [feature]) VALUES (N'ENG', 7, N'View only')
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Price_Package] ON 

INSERT [dbo].[Price_Package] ([package_id], [package_name], [duration], [pack_status], [multiple], [description]) VALUES (1, N'Free', 1200, NULL, 0, NULL)
INSERT [dbo].[Price_Package] ([package_id], [package_name], [duration], [pack_status], [multiple], [description]) VALUES (2, N'Silver', 3, NULL, 0.8, NULL)
INSERT [dbo].[Price_Package] ([package_id], [package_name], [duration], [pack_status], [multiple], [description]) VALUES (3, N'Gold', 6, NULL, 1.2, NULL)
SET IDENTITY_INSERT [dbo].[Price_Package] OFF
GO
SET IDENTITY_INSERT [dbo].[Ques_Result] ON 

INSERT [dbo].[Ques_Result] ([ques_result_id], [ques_id], [user_id], [ques_status], [ques_flag], [ques_answer], [quiz_result_id]) VALUES (1, 21, 8, 1, 0, 3, 1)
INSERT [dbo].[Ques_Result] ([ques_result_id], [ques_id], [user_id], [ques_status], [ques_flag], [ques_answer], [quiz_result_id]) VALUES (2, 22, 8, 1, 0, 3, 1)
INSERT [dbo].[Ques_Result] ([ques_result_id], [ques_id], [user_id], [ques_status], [ques_flag], [ques_answer], [quiz_result_id]) VALUES (3, 23, 8, 1, 0, 3, 1)
SET IDENTITY_INSERT [dbo].[Ques_Result] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([ques_id], [ques_content], [ques_result], [ques_note], [quiz_id]) VALUES (1, N'Who is the father of C language? | Steve Jobs | James Gosling | Dennis Ritchie | Rasmus Lerdorf ', 3, N'<p>Dennis Ritchie is the father of C Programming Language. C programming language was developed in 1972 at American Telephone &amp; Telegraph Bell Laboratories of USA.</p>
', 1)
INSERT [dbo].[Question] ([ques_id], [ques_content], [ques_result], [ques_note], [quiz_id]) VALUES (2, N'Which of the following is not a valid C variable name?
 | int number
 | float rate
 | int variable_count
 | int $main', 4, N'Since only underscore and no other special character is allowed in a variable name, it results in an error.', 1)
INSERT [dbo].[Question] ([ques_id], [ques_content], [ques_result], [ques_note], [quiz_id]) VALUES (3, N'All keywords in C are in ____________? | LowerCase letters | UpperCase letters | CamelCase letters | None of the mentioned ', 1, N'<p>None.</p>
', 1)
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([quiz_id], [quiz_name], [quiz_desc], [course_id], [type_id], [section_id], [quiz_status]) VALUES (1, N'C-Test1', N'<p>Doing exercise test1</p>
', N'CP', 2, 1, 1)
INSERT [dbo].[Quiz] ([quiz_id], [quiz_name], [quiz_desc], [course_id], [type_id], [section_id], [quiz_status]) VALUES (2, N'C-Test2', N'<p>Doing exercise test2</p>
', N'CP', 2, 4, 1)
INSERT [dbo].[Quiz] ([quiz_id], [quiz_name], [quiz_desc], [course_id], [type_id], [section_id], [quiz_status]) VALUES (3, N'PY-Test1', N'<p>Doing exercise test1</p>
', N'PY', 2, 5, 1)
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz_Result] ON 

INSERT [dbo].[Quiz_Result] ([quiz_result_id], [quiz_id], [user_id], [quiz_status], [quiz_grade], [quiz_start], [quiz_end]) VALUES (1, 3, 8, 0, 2, CAST(N'2022-06-29T09:34:53.000' AS DateTime), CAST(N'2022-06-29T09:35:39.000' AS DateTime))
INSERT [dbo].[Quiz_Result] ([quiz_result_id], [quiz_id], [user_id], [quiz_status], [quiz_grade], [quiz_start], [quiz_end]) VALUES (2, 1, 10, 1, 7, CAST(N'2022-06-30T08:55:26.000' AS DateTime), CAST(N'2022-06-30T08:56:14.000' AS DateTime))
INSERT [dbo].[Quiz_Result] ([quiz_result_id], [quiz_id], [user_id], [quiz_status], [quiz_grade], [quiz_start], [quiz_end]) VALUES (3, 3, 8, 0, 3, CAST(N'2022-07-09T11:17:29.000' AS DateTime), CAST(N'2022-07-09T11:18:15.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Quiz_Result] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([reg_id], [reg_time], [reg_note], [course_id], [user_id], [reg_status_id], [package_id], [last_updated_by]) VALUES (1, CAST(N'2022-05-22' AS Date), NULL, N'CP', 10, 1, 1, N'None')
INSERT [dbo].[Registration] ([reg_id], [reg_time], [reg_note], [course_id], [user_id], [reg_status_id], [package_id], [last_updated_by]) VALUES (2, CAST(N'2022-05-23' AS Date), NULL, N'PIA', 10, 1, 3, N'None')
INSERT [dbo].[Registration] ([reg_id], [reg_time], [reg_note], [course_id], [user_id], [reg_status_id], [package_id], [last_updated_by]) VALUES (4, CAST(N'2022-06-19' AS Date), NULL, N'DIGMAR', 11, 1, 3, N'None')
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
INSERT [dbo].[Registration_Status] ([reg_status_id], [reg_status_name]) VALUES (0, N'Submitted')
INSERT [dbo].[Registration_Status] ([reg_status_id], [reg_status_name]) VALUES (1, N'Registered')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Guest')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Customer')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'Sale')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([section_id], [course_id], [section_name], [type_id], [section_status]) VALUES (1, N'CP', N'
Programming Fundamentals', 3, 1)
INSERT [dbo].[Section] ([section_id], [course_id], [section_name], [type_id], [section_status]) VALUES (2, N'CP', N'
Writing, Running, and Fixing Code in C', 3, 1)
INSERT [dbo].[Section] ([section_id], [course_id], [section_name], [type_id], [section_status]) VALUES (3, N'CP', N'
Pointers, Arrays, and Recursion', 3, 1)
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[Setting] ON 

INSERT [dbo].[Setting] ([SettingId], [SettingTypeId], [SettingValue], [SettingOrder], [SettingStatusId], [SettingDescription]) VALUES (1, 1, N'4', N'Course site', 1, N'Number of course in 1 page (Course list)')
INSERT [dbo].[Setting] ([SettingId], [SettingTypeId], [SettingValue], [SettingOrder], [SettingStatusId], [SettingDescription]) VALUES (2, 1, N'4', N'Post site', 1, N'Number of post in 1 page (Post list)')
INSERT [dbo].[Setting] ([SettingId], [SettingTypeId], [SettingValue], [SettingOrder], [SettingStatusId], [SettingDescription]) VALUES (3, 1, N'4', N'Blog site', 1, N'Number of blog in 1 page (Blog list)')
SET IDENTITY_INSERT [dbo].[Setting] OFF
GO
SET IDENTITY_INSERT [dbo].[SettingStatus] ON 

INSERT [dbo].[SettingStatus] ([SettingStatusId], [SettingStatusName]) VALUES (1, N'Active    ')
INSERT [dbo].[SettingStatus] ([SettingStatusId], [SettingStatusName]) VALUES (2, N'Inactive  ')
SET IDENTITY_INSERT [dbo].[SettingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[SettingType] ON 

INSERT [dbo].[SettingType] ([SettingTypeId], [SettingTypeName]) VALUES (1, N'Page')
INSERT [dbo].[SettingType] ([SettingTypeId], [SettingTypeName]) VALUES (2, N'Role')
SET IDENTITY_INSERT [dbo].[SettingType] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([slider_id], [slider_title], [slider_img], [slider_link], [slider_status], [slider_note]) VALUES (1, N'<h5>Join with us to open your knowledge about the science in the world...</h5>

<p>Welcome to our journey and good luck to you!</p>
', N'download.jpg', N'courselist?subject=1', 1, N'hello1')
INSERT [dbo].[Slider] ([slider_id], [slider_title], [slider_img], [slider_link], [slider_status], [slider_note]) VALUES (2, N'<h5>Just to be the best version of yourself to adapt the chance of the world1...</h5>

<p>Welcome to our journey and good luck to you!</p>
', N'Screenshot 2022-07-16 151235.jpg', N'courselist?subject=3', 0, N'fix status')
INSERT [dbo].[Slider] ([slider_id], [slider_title], [slider_img], [slider_link], [slider_status], [slider_note]) VALUES (3, N'<h5>Join with us to experience new knowledge about the mathematic in the world...</h5>

<p>Welcome to our journey and good luck to you!</p>
', N'Screenshot 2022-07-16 151438.jpg', N'courselist?subject=2', 1, N'')
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([sub_id], [sub_name], [sub_img], [sub_desc], [subject_cate_id]) VALUES (1, N'Information Technology', N'https://i.ytimg.com/vi/CJlckNl0KFU/hq720.jpg?sqp=-%E2%80%A6AFwAcABBg==&rs=AOn4CLClq5CDznc_poNMEtAdr-O4xPFA5g', N'In this subject, you can learn many different programming languages.', 1)
INSERT [dbo].[Subject] ([sub_id], [sub_name], [sub_img], [sub_desc], [subject_cate_id]) VALUES (2, N'Mathematics', N'https://i.ytimg.com/vi/gSVHaIWIgUE/hqdefault.jpg?s…AFwAcABBg==&rs=AOn4CLDckRJcwXYnnQtJ2kUYPX6VtIp2KA', N'In this subject, you can learn about maths in the field of information technology.', 1)
INSERT [dbo].[Subject] ([sub_id], [sub_name], [sub_img], [sub_desc], [subject_cate_id]) VALUES (3, N'Musical Instrument', N'https://i.ytimg.com/vi/FpTlgWy5UUU/hq720.jpg?sqp=-…AFwAcABBg==&rs=AOn4CLBvQfUgiQhsak1KckNc-KkRTHzykg', N'In this subject, you can take basic courses on how to play musical instruments.', 4)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject_Category] ON 

INSERT [dbo].[Subject_Category] ([subject_cate_id], [subject_cate_name]) VALUES (1, N'Science')
INSERT [dbo].[Subject_Category] ([subject_cate_id], [subject_cate_name]) VALUES (2, N'Society')
INSERT [dbo].[Subject_Category] ([subject_cate_id], [subject_cate_name]) VALUES (3, N'Economics')
SET IDENTITY_INSERT [dbo].[Subject_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Time_Course] ON 

INSERT [dbo].[Time_Course] ([time_course_id], [course_id], [user_id], [course_start], [course_stop]) VALUES (1, N'CP', 27, CAST(N'2022-07-19T11:50:04.000' AS DateTime), NULL)
INSERT [dbo].[Time_Course] ([time_course_id], [course_id], [user_id], [course_start], [course_stop]) VALUES (2, N'FINMAR', 27, CAST(N'2022-07-19T11:59:22.000' AS DateTime), NULL)
INSERT [dbo].[Time_Course] ([time_course_id], [course_id], [user_id], [course_start], [course_stop]) VALUES (3, N'JAP', 27, CAST(N'2022-07-19T12:04:24.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Time_Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([type_id], [type_name]) VALUES (1, N'Lesson')
INSERT [dbo].[Type] ([type_id], [type_name]) VALUES (2, N'Quiz')
INSERT [dbo].[Type] ([type_id], [type_name]) VALUES (3, N'Section')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [user_email], [password], [full_name], [user_img], [gender_id], [user_dob], [user_phone], [user_address], [user_wallet], [role_id], [user_time], [user_status]) VALUES (1, N'chieundhe151294@fpt.edu.vn', N'A8EE4E022344282A8D9BAF5B2090469C', N'Nguyen Danh Chieu', N'default.jpg', 1, CAST(N'2001-12-15' AS Date), N'9214151789', N'Hung Yen', N'1000', 6, CAST(N'2022-01-01' AS Date), 1)
INSERT [dbo].[User] ([user_id], [user_email], [password], [full_name], [user_img], [gender_id], [user_dob], [user_phone], [user_address], [user_wallet], [role_id], [user_time], [user_status]) VALUES (2, N'daotvhe151293@fpt.edu.vn', N'A8EE4E022344282A8D9BAF5B2090469C', N'Tran Van Dao', N'default.jpg', 1, CAST(N'2001-12-16' AS Date), N'9214171899', N'Nam Dinh', N'1000', 3, CAST(N'2022-01-01' AS Date), 1)
INSERT [dbo].[User] ([user_id], [user_email], [password], [full_name], [user_img], [gender_id], [user_dob], [user_phone], [user_address], [user_wallet], [role_id], [user_time], [user_status]) VALUES (3, N'namnhhe151296@fpt.edu.vn', N'A8EE4E022344282A8D9BAF5B2090469C', N'Nguyen Hoai Nam', N'default.jpg', 3, CAST(N'2001-12-17' AS Date), N'92141513', N'Ha Noi', N'1000', 4, CAST(N'2022-01-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Lecturer] ([lecturer_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Lecturer]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Level] FOREIGN KEY([level_id])
REFERENCES [dbo].[Level] ([level_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Level]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Subject] FOREIGN KEY([sub_id])
REFERENCES [dbo].[Subject] ([sub_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Subject]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Section] FOREIGN KEY([section_id], [course_id])
REFERENCES [dbo].[Section] ([section_id], [course_id])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Section]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Type] ([type_id])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Type]
GO
ALTER TABLE [dbo].[Lesson_Result]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Result_Lesson] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Lesson_Result] CHECK CONSTRAINT [FK_Lesson_Result_Lesson]
GO
ALTER TABLE [dbo].[Lesson_Result]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Result_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Lesson_Result] CHECK CONSTRAINT [FK_Lesson_Result_User]
GO
ALTER TABLE [dbo].[Manage_Course]  WITH CHECK ADD  CONSTRAINT [FK_Manage_Course_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Manage_Course] CHECK CONSTRAINT [FK_Manage_Course_Course]
GO
ALTER TABLE [dbo].[Manage_Course]  WITH CHECK ADD  CONSTRAINT [FK_Manage_Course_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Manage_Course] CHECK CONSTRAINT [FK_Manage_Course_User]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Blog] FOREIGN KEY([blog_id])
REFERENCES [dbo].[Blog] ([blog_id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Blog]
GO
ALTER TABLE [dbo].[Ques_Result]  WITH CHECK ADD  CONSTRAINT [FK_Ques_Result_Question] FOREIGN KEY([ques_id])
REFERENCES [dbo].[Question] ([ques_id])
GO
ALTER TABLE [dbo].[Ques_Result] CHECK CONSTRAINT [FK_Ques_Result_Question]
GO
ALTER TABLE [dbo].[Ques_Result]  WITH CHECK ADD  CONSTRAINT [FK_Ques_Result_Quiz_Result] FOREIGN KEY([quiz_result_id])
REFERENCES [dbo].[Quiz_Result] ([quiz_result_id])
GO
ALTER TABLE [dbo].[Ques_Result] CHECK CONSTRAINT [FK_Ques_Result_Quiz_Result]
GO
ALTER TABLE [dbo].[Ques_Result]  WITH CHECK ADD  CONSTRAINT [FK_Ques_Result_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Ques_Result] CHECK CONSTRAINT [FK_Ques_Result_User]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([quiz_id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Quiz]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Section] FOREIGN KEY([section_id], [course_id])
REFERENCES [dbo].[Section] ([section_id], [course_id])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Section]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Type] ([type_id])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Type]
GO
ALTER TABLE [dbo].[Quiz_Result]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Result_Quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([quiz_id])
GO
ALTER TABLE [dbo].[Quiz_Result] CHECK CONSTRAINT [FK_Quiz_Result_Quiz]
GO
ALTER TABLE [dbo].[Quiz_Result]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Result_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Quiz_Result] CHECK CONSTRAINT [FK_Quiz_Result_User]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Course]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Price_Package] FOREIGN KEY([package_id])
REFERENCES [dbo].[Price_Package] ([package_id])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Price_Package]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Registration_Status] FOREIGN KEY([reg_status_id])
REFERENCES [dbo].[Registration_Status] ([reg_status_id])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Registration_Status]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_User]
GO
ALTER TABLE [dbo].[Role_Permission]  WITH CHECK ADD  CONSTRAINT [FK_Role_Permission_Permission] FOREIGN KEY([per_id])
REFERENCES [dbo].[Permission] ([per_id])
GO
ALTER TABLE [dbo].[Role_Permission] CHECK CONSTRAINT [FK_Role_Permission_Permission]
GO
ALTER TABLE [dbo].[Role_Permission]  WITH CHECK ADD  CONSTRAINT [FK_Role_Permission_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Role_Permission] CHECK CONSTRAINT [FK_Role_Permission_Role]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_Course]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_Type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Type] ([type_id])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_Type]
GO
ALTER TABLE [dbo].[Setting]  WITH CHECK ADD  CONSTRAINT [FK_Setting_SettingStatus] FOREIGN KEY([SettingStatusId])
REFERENCES [dbo].[SettingStatus] ([SettingStatusId])
GO
ALTER TABLE [dbo].[Setting] CHECK CONSTRAINT [FK_Setting_SettingStatus]
GO
ALTER TABLE [dbo].[Setting]  WITH CHECK ADD  CONSTRAINT [FK_Setting_SettingType] FOREIGN KEY([SettingTypeId])
REFERENCES [dbo].[SettingType] ([SettingTypeId])
GO
ALTER TABLE [dbo].[Setting] CHECK CONSTRAINT [FK_Setting_SettingType]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Subject_Category] FOREIGN KEY([subject_cate_id])
REFERENCES [dbo].[Subject_Category] ([subject_cate_id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Subject_Category]
GO
ALTER TABLE [dbo].[Time_Course]  WITH CHECK ADD  CONSTRAINT [FK_Time_Course_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Time_Course] CHECK CONSTRAINT [FK_Time_Course_Course]
GO
ALTER TABLE [dbo].[Time_Course]  WITH CHECK ADD  CONSTRAINT [FK_Time_Course_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Time_Course] CHECK CONSTRAINT [FK_Time_Course_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([gender_id])
REFERENCES [dbo].[Gender] ([gender_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
